[submodule "exchange-rates"]
	path = exchange-rates
	url = https://github.com/datasets/exchange-rates.git
[submodule "covid-19-data"]
	path = covid-19-data
	url = https://github.com/nytimes/covid-19-data.git
